<launch>
    <node pkg="panda_ros" type="pandaRosWrapper" name="panda_controller" output="screen">
		<param name="control_mode" value="cartesian_position" />
    </node>
    <node pkg="inputs_ros" type="forcedimensionRosWrapper" name="forcedimension_interface" output="screen">
    </node>
</launch>
