<launch>
    <include file="$(find spacenav_node)/launch/classic.launch" >
    </include>

    <node pkg="inputs_ros" type="space_mouse" name="space_mouse_parser" output="screen">
    </node>

    <node pkg="panda_ros" type="pandaRosWrapper" name="panda_controller" output="screen">
		<param name="control_mode" value="cartesian_velocity" />
    </node>

</launch>
