<?xml version="1.0"?>
<launch>
    <arg name="launch_rviz" value="true" />
    <arg name="move_robot" value="true" />
    <arg name="relik_running" default="true" />

    <!-- ##################################################################################### -->   

    <include unless="$(arg relik_running)" file="$(find relaxed_ik)/launch/relaxed_ik_julia.launch" />

    <node if="$(arg launch_rviz)" pkg="relaxed_ik" type="rviz_viewer.py" name="rviz_viewer" output="screen"/>

    <group if="$(arg move_robot)">
        <node pkg="panda_ros" type="pandaRosWrapper" name="panda_controller" output="screen">
		    <param name="control_mode" value="joint_position" />
        </node>
    </group>

    <node name="ee_pose_goal_pub" pkg="mimicry_control" type="ee_pose_goal_pub.py" output="screen" />
    <node name="controller_publisher" pkg="mimicry_control" type="controller_publisher.py" output="screen" />

</launch>
